# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
	
*My Advisor Results*
adsassignment/Debug/*
adsassignment/Release/*
lib.datastructure/Debug/*
lib.datastructure/Release/*
lib.datastructure/x64/Debug/*
lib.datastructure/x64/Release/*
interseting_problems/*
unittest/Debug/*
unittest/Release/*
unittest/x64/Debug/*
unittest/x64/Release/*
*/.vs/*
*.ipch
*.sdf
*.tmp
*vcxproj.user
*.suo
*.cd
*.opendb
utility/html/*
utility/latex/*
utility/cppunit-1.12.1/src/cppunit/x64/Debug/*
utility/cppunit-1.12.1/src/cppunit/x64/DebugDll/*
utility/cppunit-1.12.1/src/cppunit/x64/Release/*
utility/cppunit-1.12.1/src/cppunit/x64/ReleaseDll/*
utility/cppunit-1.12.1/src/cppunit/Debug/*
utility/cppunit-1.12.1/src/cppunit/DebugDll/*
utility/cppunit-1.12.1/src/cppunit/Release/*
utility/cppunit-1.12.1/src/cppunit/ReleaseDll/*
utility/cppunit-1.12.1/src/ipch/*
utility/cppunit-1.12.1/lib/*
lib.datastructure/Release/*
docs/*